    @model WebApplication1.Table_1

@{
    ViewBag.Title = "Create";
}

<h2>Tạo mới</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bảng 1</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenSach, "Tên sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSach)
                @Html.ValidationMessageFor(model => model.TenSach)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Giá, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giá)
                @Html.ValidationMessageFor(model => model.Giá)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TG, "Tác Giả", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TG)
                @Html.ValidationMessageFor(model => model.TG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SL, "Số Lượng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SL)
                @Html.ValidationMessageFor(model => model.SL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay trở lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
